## Deliverable 2. Create a Customer Travel Destinations Map.

In [29]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import matplotlib.pyplot as plt

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hrs),Snow inches (last 3 hrs)
0,0,Belyy Yar,RU,2022-03-21 08:53:06,53.6039,91.3903,39.09,39,0,11.18,clear sky,0,0
1,1,Port Alfred,ZA,2022-03-21 08:53:07,-33.5906,26.8910,78.98,66,2,12.17,clear sky,0,0
2,2,Alyangula,AU,2022-03-21 08:53:07,-13.8483,136.4192,85.87,79,40,8.05,scattered clouds,0,0
3,3,Lebu,CL,2022-03-21 08:48:10,-37.6167,-73.6500,55.44,92,45,2.75,scattered clouds,0,0
4,4,Vossevangen,NO,2022-03-21 08:53:08,60.6230,6.4229,32.20,68,2,4.36,clear sky,0,0

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is your minimum temperature preference? "))
max_temp = float(input("What is your maximum temperature preference? "))

What is your minimum temperature preference? 65
What is your maximum temperature preference? 82

In [10]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hrs),Snow inches (last 3 hrs)
1,1,Port Alfred,ZA,2022-03-21 08:53:07,-33.5906,26.8910,78.98,66,2,12.17,clear sky,0,0
7,7,San Patricio,US,2022-03-21 08:53:09,28.0170,-97.5169,70.90,92,100,17.52,overcast clouds,0,0
13,13,Rikitea,PF,2022-03-21 08:52:57,-23.1203,-134.9692,80.08,68,6,14.12,light rain,0,0
20,20,Arraial Do Cabo,BR,2022-03-21 08:53:14,-22.9661,-42.0278,74.93,81,99,23.98,overcast clouds,0,0
22,22,Benjamin Aceval,PY,2022-03-21 08:53:15,-24.9667,-57.5667,71.74,63,0,5.17,clear sky,0,0
25,25,Atuona,PF,2022-03-21 08:53:16,-9.8000,-139.0333,78.10,82,71,17.18,light rain,0,0
27,27,Marawi,PH,2022-03-21 08:53:17,7.9986,124.2928,70.74,98,100,3.58,overcast clouds,0,0
28,28,Cayenne,GF,2022-03-21 08:53:18,4.9333,-52.3333,79.09,1,100,6.91,overcast clouds,0,0
29,29,Flinders,AU,2022-03-21 08:53:19,-34.5833,150.8552,69.08,79,2,1.10,clear sky,0,0
30,30,Busselton,AU,2022-03-21 08:53:19,-33.6500,115.3333,74.05,47,0,19.46,clear sky,0,0

In [14]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                     0
City                        0
Country                     5
Date                        0
Lat                         0
Lng                         0
Max Temp                    0
Humidity                    0
Cloudiness                  0
Wind Speed                  0
Current Description         0
Rain inches (last 3 hrs)    0
Snow inches (last 3 hrs)    0
dtype: int64

In [18]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df=preferred_cities_df.dropna()
clean_df.isnull().sum()

City_ID                     0
City                        0
Country                     0
Date                        0
Lat                         0
Lng                         0
Max Temp                    0
Humidity                    0
Cloudiness                  0
Wind Speed                  0
Current Description         0
Rain inches (last 3 hrs)    0
Snow inches (last 3 hrs)    0
dtype: int64

In [19]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Port Alfred,ZA,78.98,clear sky,-33.5906,26.8910,
7,San Patricio,US,70.90,overcast clouds,28.0170,-97.5169,
13,Rikitea,PF,80.08,light rain,-23.1203,-134.9692,
20,Arraial Do Cabo,BR,74.93,overcast clouds,-22.9661,-42.0278,
22,Benjamin Aceval,PY,71.74,clear sky,-24.9667,-57.5667,
25,Atuona,PF,78.10,light rain,-9.8000,-139.0333,
27,Marawi,PH,70.74,overcast clouds,7.9986,124.2928,
28,Cayenne,GF,79.09,overcast clouds,4.9333,-52.3333,
29,Flinders,AU,69.08,clear sky,-34.5833,150.8552,
30,Busselton,AU,74.05,clear sky,-33.6500,115.3333,

In [21]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url="https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()

    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [24]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Port Alfred,ZA,78.98,clear sky,-33.5906,26.8910,The Halyards Hotel
7,San Patricio,US,70.90,overcast clouds,28.0170,-97.5169,"Motel 6 Sinton, TX"
13,Rikitea,PF,80.08,light rain,-23.1203,-134.9692,People ThankYou
20,Arraial Do Cabo,BR,74.93,overcast clouds,-22.9661,-42.0278,Pousada Porto Praia
22,Benjamin Aceval,PY,71.74,clear sky,-24.9667,-57.5667,Escuela Agrícola y Hotel Cerrito
25,Atuona,PF,78.10,light rain,-9.8000,-139.0333,Villa Enata
27,Marawi,PH,70.74,overcast clouds,7.9986,124.2928,Derogongan Residence
28,Cayenne,GF,79.09,overcast clouds,4.9333,-52.3333,Hôtel Le Dronmi
29,Flinders,AU,69.08,clear sky,-34.5833,150.8552,Shellharbour Resort & Conference Centre
30,Busselton,AU,74.05,clear sky,-33.6500,115.3333,Observatory Guest House

In [25]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [26]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [32]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

plt.savefig("../World_Weather_Analysis/Vacation_Search/WeatherPy_vacation_map.png")